<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments-default.css">

    <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />    

    <!-- RSS -->
    <link type="application/atom+xml" rel="alternate" href="{{ site_url }}/rss.xml" title="{{ title }}" />

    <script src="{{ site_url }}/js/md5.js" async></script>
    <script src="{{ site_url }}/js/markdown.min.js" async></script>
    <script src="{{ site_url }}/js/page.js" async></script>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="column">
                <a href="/"><img src="/mstile-70x70.png"/></a>
            </div>
            <div class="column column-50 column-offset-25 txtright" id="menu-blog">
                <a href="/">Blog</a>
                <a href="/archives/">Archives</a>
                <a href="/notes/">Notes</a>
            </div>
        </div>

        {{ header }}

        <div class="row">
            <div class="column column-80 column-offset-10">{{ content }}</div>
        </div>

        {{ footer }}

        <footer>
        <div class="row">
            <div class="column"><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img src="/license.png"></a></div>
            <div class="column column-offset-50 txtright">
                <a href="https://github.com/kianby/blog">Makesite.py</a>&nbsp;
                <a href="https://github.com/kianby/stacosys">Stacosys</a>
            </div>
        </div>
        </footer>

    </div>

</body>
</html>
